model_name: "AdaptCD"
description: "AdaptCD: Adaptive Open-Vocabulary Change Detection for SECOND dataset - Low Vegetation category"
# nohup python evaluate_second.py --class low_vegetation --output_dir outputs/second/low_vegetation/v3  --save_predictions  --verbose > log/second/low_vegetation/v3.log 2>&1 &

segmentor:
  type: "SAM"
  sam_version: "vit_h"
  checkpoint: "models/sam/sam_vit_h_4b8939.pth"
  sam_hq_checkpoint: "models/hqsam/sam_hq_vit_h.pth"
  use_sam_hq: true  # true: HQSAM, false: SAM
  
  # ARA (Adaptive Radiometric Alignment)
  enable_adaptive_radiometric_alignment: true
  adaptive_radiometric_alignment_config:
    method: "simple_histogram"
    preserve_original: true
    gentle_processing: true
    clip_extreme: true
    max_change_ratio: 0.08

  params:
    points_per_side: 40
    points_per_batch: 64
    pred_iou_thresh: 0.5
    stability_score_thresh: 0.6
    stability_score_offset: 0.15
    box_nms_thresh: 0.9
    min_mask_region_area: 300
    match_hist: false
    area_thresh: 0.8
    mask_threshold: 0.95

comparator:
  # variant: 'dino_vitb16'
  # weights_path: null         
  # variant: 'dinov2_vitl14'  
  # weights_path: null                   
  variant: 'dinov3_vitl16'
  weights_path: 'models/dinov3/dinov3_vitl16_pretrain_lvd1689m-8aa4cbdd.pth'
  
  change_confidence_threshold: 135

  # ACT (Adaptive Change Thresholding)
  enable_adaptive_change_thresholding: true
  adaptive_change_thresholding_config:
    global_weight: 0.70
    edge_weight: 0.30
    edge_detection_method: "canny"
    canny_low: 50
    canny_high: 150
    edge_dilation_kernel: 4
    min_edge_pixels: 100
    min_angle: 120
    max_angle: 160
    debug: false

  enhancement_modules:
    confidence_filtering:
      enabled: true
      config:
        filter_strength: 0.5
        min_region_size: 500
        debug: false

identifier:
  type: "DGTRS-CLIP"
  model_path: "models/DGTRS/LRSCLIP_ViT-L-14.pt"
  confidence_threshold: 0.5
  name_list: ['bare ground,soil,sand,buildings,roads,water areas and features', 'grass,lawn,low vegetation,shrubs,ground cover,small plants areas and features']
  # name_list: ['bare ground,soil,sand,exposed earth,tall trees,forest,buildings,roads,water areas and features', 'grass,low vegetation,shrubs,herbaceous plants,ground cover,small plants,meadow,lawn areas and features']
  # name_list: ['bare ground,soil,sand,exposed earth,tall trees,forest,buildings,roads,water areas and features', 'grass,low vegetation,shrubs,ground cover,small plants,meadow,lawn,vegetated areas areas and features']
  # name_list: ['bare ground,soil,sand,exposed earth,tall trees,dense forest,buildings,roads,water areas and features', 'grass,low vegetation,short shrubs,ground cover,small plants,meadow,lawn,grasslands areas and features']
  # name_list: ['soil,sand,exposed earth,trees,forest,buildings,roads,water areas and features', 'low vegetation,grass,shrubs,ground cover,small plants,meadow,lawn areas and features']
  

device: "auto"
output_prefix: "ovcd_second_low_vegetation"

